<ion-view >
  <ion-content>
      <div class="padding-top padding-bottom"></div>
      <div class="padding-top padding-bottom"></div>
      <div class="padding-top padding-bottom"></div>
      <div class="padding-top padding-bottom"></div>
      <div class="padding padding-top">
          <div class="card">
              <div class="row">
                  <div class="col"></div>
                  <div class="col">
                      <label class="item item-input item-select">
                          <div class="input-label">
                              Emotions
                          </div>
                          <select>
                              <option>Happy</option>
                              <option selected>Sad</option>
                              <option>Angry</option>
                          </select>
                      </label>
                  </div>
                  <div class="col"></div>
              </div>


          </div>
          <div class="card">
              <div class="row">
                  <div class="col"></div>
                  <div class="col">
                      <label class="item item-input item-select">
                          <div class="input-label">
                              Time of emotions
                          </div>
                          <select>
                              <option>Happy</option>
                              <option selected>Sad</option>
                              <option>Angry</option>
                          </select>
                      </label>
                  </div>
                  <div class="col"></div>
              </div>


          </div>
          <div class="card">
              <div class="item item-divider">
                  How strong was when you started?
              </div>
              <div class="item item-text-wrap">
                  <nvd3-line-chart data="exampleData"
                                   showxaxis="true"
                                   showyaxis="true"
                                   tooltips="true"
                                   interactive="true">
                  </nvd3-line-chart>
              </div>
              

          </div>
          </div>
</ion-content>
</ion-view>
