<ion-view >
    <ion-content>
        <div class="padding-top padding-bottom"></div>
        <div class="padding-top padding-bottom"></div>
        <div class="padding-top padding-bottom"></div>
        <div class="padding padding-top">
            <div class="card">
                <div class="row">
                    <div class="col"></div>
                    <div class="col">
                        <label class="item item-input item-select">
                            <div class="input-label">
                                Emotions
                            </div>
                            <select>
                                <option>Happy</option>
                                <option selected>Sad</option>
                                <option>Angry</option>
                            </select>
                        </label>
                    </div>
                    <div class="col"></div>
                </div>
                

            </div>
            <div class="card">
                <div class="item item-divider">
                    How strong was when you started?
                </div>
                <div class="item item-text-wrap">
                    <div class="item range">
                        <i class="icon ion-volume-low"></i>
                        <input type="range" name="volume">
                        <i class="icon ion-volume-high"></i>
                    </div>
                </div>

            </div>
            <div class="card">
                <div class="item item-divider">
                    How strong was the feeling when you finished?
                </div>
                <div class="item item-text-wrap">
                    <div class="item range">
                        <i class="icon ion-volume-low"></i>
                        <input type="range" name="volume">
                        <i class="icon ion-volume-high"></i>
                    </div>
                </div>

            </div>

            <div class="card">
                <div class="row">
                    <div class="col"></div>
                    <div class="col">
                        <button class="button button-positive padding-right" style="width: 100%">
                            Save
                        </button>
                    </div>
                    <div class="col">

                        <button class="button button-balanced padding-left" style="width: 100%">
                            Sync to Server
                        </button>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
