<ion-view >
  <ion-content class="padding">
      <div class="row row-center">
          <div class="round-button">
              <a class="butt"><span class="butt-text">PUSH</span></a>
          </div>
      </div>  
      <div class="row row-bottom" style="position: absolute;top: calc(100% + 300px)">
          <div class="col"></div>
          <div class="col">
              <div class="row">
                  <div class="col"><a class="button">play</a>
                  </div>
                  <div class="col"><a class="button">play</a>
                  </div>
                  <div class="col">
                      <a class="button">play</a>
                  </div>
                  <div class="col">
                      <a class="button">play</a>
                  </div>
                  <div class="col"><a class="button">play</a>
                  </div>
              </div>
          </div>
          <div class="col"></div>
      </div>
       
  </ion-content>
</ion-view>
